@charset "UTF-8";
@font-face {
  font-family: "NotoSansCJKkr-Black";
  src: url("NotoSansCJKkr-Black.otf") format("truetype"); }

@font-face {
  font-family: "gill-sans-mt";
  src: url("gill-sans-mt.ttf") format("truetype"); }

@font-face {
  font-family: "gill-sans-mt-ultra-bold";
  src: url("gill-sans-mt-ultra-bold.ttf") format("truetype"); }

/*body 기본 폰트 정의 및 CSS 초기화*/
html, body, .container {
  width: 100%;
  height: 100%; }

body {
  overflow: hidden;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: #000; }
  a :hover {
    color: turquoise; }

/*header와 section, footer를 감싸는 container*/
.container {
  position: abolute;
  display: flex;
  flex-direction: column; }
  .container header, .container section, .container footer {
    border-bottom: 1px solid black; }

header {
  flex: 0 0 auto; }

section {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer {
  flex: 0 0 auto;
  text-align: center;
  padding: 10px;
  display: none; }

/*header 안의 nav(logo, lists) 정렬*/
nav {
  font-size: 10px;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: null;
  line-height: 1.1;
  text-align: right;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  line-height: normal; }
  nav .logo {
    font-size: 16px;
    font-weight: 900;
    font-family: "gill-sans-mt-ultra-bold";
    letter-spacing: 3.0;
    line-height: 2.0;
    padding-left: 10px;
    padding-right: 10px; }
  nav div {
    flex-grow: 7; }
  nav a, nav div, nav ul {
    justify-content: space-between;
    align-items: center; }

ul {
  list-style: none;
  overflow: hidden; }
  ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; }

aside {
  flex: 0 0 auto;
  border-left: 1px solid black;
  padding: 10px;
  background-color: #13B4D1;
  display: flex;
  flex-direction: row; }

article {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  margin-left: 120px;
  display: flex;
  flex-direction: column; }
  article > span {
    margin-left: 585px;
    margin-top: 100px; }

.aside-right > input {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2); }

.aside-left > input {
  width: 204px;
  height: 25px;
  margin-bottom: 10px;
  border: 1px solid black; }

.aside-right {
  margin-left: 10px; }

/*tag*/
.tag-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px; }
  .tag-container .tag-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px; }
    .tag-container .tag-item .tag-item-title {
      font-weight: bold;
      width: 60px; }
    .tag-container .tag-item .tag-item-select {
      line-height: 2;
      width: 130px; }
    .tag-container .tag-item .tag-item-select input {
      display: inline-block; }

/*list 2분할(좌,우)*/
.list-container {
  display: flex;
  flex-direction: row;
  width: 540px;
  border: 2px solid black;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 15px; }
  .list-container input {
    float: right;
    margin: 10px; }

/*list-left 세로 4분할*/
.list-leftitem {
  display: flex;
  flex-direction: column;
  width: 430.61px; }

/*list font-style*/
.list1 p {
  font-size: 15px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 3.0;
  line-height: 2.2;
  display: inline; }

.list2 p {
  font-size: 13px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.9;
  display: inline; }

.list3 p {
  font-size: 9px;
  font-weight: 200;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: null;
  line-height: 1.5;
  display: inline; }

.list4 p {
  font-size: 10px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 3.0;
  line-height: 15px;
  text-align: center;
  display: inline; }

.list1, .list2, .list3, .list4 {
  border-bottom: 1px solid #444;
  margin: 0;
  padding: 0; }

/*list3(description) 글자수 제한(3줄, '...'표시)*/
.list3 {
  line-height: 1.5;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.list4 {
  border-bottom: none; }

.list-rightitem {
  width: 88.86px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #444; }

#date {
  padding-right: 20px;
  border-right: 1px solid #444; }

.list1 p, .list2 p, .list3, .list4 {
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px; }
