@font-face {
font-family: "gill-sans-mt";
src:url("../list/gill-sans-mt.ttf") format("truetype"); 
}

@font-face {
font-family: "gill-sans-mt-ultra-bold";
src:url("../list/gill-sans-mt-ultra-bold.ttf") format("truetype"); 
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

$color-primary: #13B4D1 !global;
$color-secondary: #FFD800 !global;
$noto: 'Noto Sans KR', sans-serif !global;
$lato: 'Lato', sans-serif !global;
$box-shadow: 1px 3px 3px rgba(0,0,0,0.2) !global;
// 재사용 가능하게 font 정의
@mixin font_logo{
    font: {
        size: 16px;
        weight: 900;
        family: "gill-sans-mt-ultra-bold";	
    }
    letter-spacing: 3.0;
    line-height: 2.0;
}
@mixin font_nav{
    font: {
        size: 10px;
        weight: 300;
        family: $lato;
    }
    letter-spacing: null;
    line-height: 1.1;
    text-align: right;
}
@mixin font_listtitle{
    font: {
        size: 15px;
        weight: 900;
        family: $noto;
    }
    letter-spacing: 3.0;
    line-height: 2.2;
}
@mixin font_listdate{
    font: {
        size: 13px;
        weight: bold;
        family: $noto;
    }
    line-height: 1.9;
}
@mixin font_listdescription{
    font: {
        size: 9px;
        weight: 300;
        family: $noto;
    }
    letter-spacing: null;
    line-height: 1.5;
}
@mixin font_listtag{
    font: {
        size: 10px;
        weight: 400;
        family: $noto;
    }
    letter-spacing: 3.0;
    line-height: 15px;
    text-align: center;
}
@mixin font_tag_title{
    font: {
        size: 9px;
        weight: 300;
        family: $noto;
    }
    letter-spacing: 3.0;
    line-height: 13px;
    text-align: left;
}
@mixin font_tag_choice{
    font: {
        size: 8px;
        weight: 300;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 12px;
    text-align: left;
}
@mixin font_h1{
    font: {
        size: 22px;
        weight: 900;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 33px;
    text-align: left;
}
@mixin font_maindate{
    font: {
        size: 9px;
        weight: 300;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 13px;
    text-align: left;
}
@mixin font_maindate{
    font: {
        size: 9px;
        weight: 300;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 13px;
    text-align: left;
}
@mixin font_maintag{
    font: {
        size: 9px;
        weight: 200;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
}
@mixin font_datechanger{
    font: {
        size: 45px;
        weight: 900;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 66px;
    text-align: center;
}
@mixin font_datechanger_month{
    font: {
        size: 20px;
        weight: 200;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 29px;
    text-align: center;
}
@mixin font_cardtitle{
    font: {
        size: 10px;
        weight: 700;
        family: $noto;
    }
    letter-spacing: 3.0;
    line-height: 15px;
    text-align: left;
}
@mixin font_carddate{
    font: {
        size: 6px;
        weight: 400;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 9px;
    text-align: left;
}
@mixin font_cardtag{
    font: {
        size: 4.5px;
        weight: 300;
        family: $noto;
    }
    letter-spacing: 0;
    line-height: 4.5px;
    text-align: center;
}
/*body 기본 폰트 정의 및 CSS 초기화*/
html, body, .container{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6,p{margin:0px}
body{
    overflow: hidden;
    font: {
        family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
        weight: 400;
        size: 12px;
    }
    color: #000;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #000;
    &:hover {
        color: $color-secondary;
    }
}
/*header와 section, footer를 감싸는 container*/

.container{
    position: abolute;
    display: flex;
    flex-direction: column;

    header, section, footer{
        border-bottom: 1px solid black;
    }
}

header{flex: 0 0 auto}

section{
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
footer{
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    display: none;
}

/*header 안의 nav(logo, lists) 정렬*/
nav{
    @include font_nav;
    display: flex;
    flex-direction: row;

    text-transform: uppercase;
    line-height: normal;
    padding-top: 2px;
    .logo {
        @include font_logo;
        padding: {
            left: 40px;
            right: 10px;
        }
    }
    div{flex-grow: 7}
    a, div, ul{
        justify-content: space-between;
        align-items: center;
    }

}

ul{
    list-style: none;
    overflow: hidden;
    li {
        display: inline-block;
        padding: {
            left: 10px;
            right: 35px;
        }
    }
}

/*주요 contents들을 정렬*/
.contents{
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

aside{
    flex: 0 0 auto;
    border-left: 1px solid black;
    padding: 10px;
    background-color: $color-primary;

    display: flex;
    flex-direction: row;
}

article{
    display:flex;
    flex-direction: column;
    margin-left: 42px;
    >span{
        margin-left:585+120-42px;
        margin-top:80px;
    }
}
/*card view 정렬*/
.card_row{
    display: flex;
    flex-direction: row;
    width: 620px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top:15px;
}

.card_container{
    display: flex;
    flex-direction: column;
    width:140px;
    border: 2px solid black;
    box-shadow: $box-shadow;
    h2{
        @include font_cardtitle();
        padding-left: 5px;
        padding-top: 5px;
    }
}

.card_poster{
    height: 140px;
    border-bottom: 1px solid black;
}
.card_date{
    @include font_carddate();
    padding-left: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
}
.card_tag{
    @include font_cardtag()
    display: flex;
    width:100%;
    justify-content: space-around;
    p{
        display:inline;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}



/*사이드바 스타일링*/

.aside-right>input{
    box-shadow: $box-shadow;
}
.aside-left>input{
    width:204px;
    height: 25px;
    margin-bottom:10px;
    border: 1px solid black;
}

.aside-right{
    margin-left: 10px;
}

/*사이드바 안의 tag들 스타일링*/
.tag-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    box-shadow: $box-shadow;
    background-color: #fff;
    padding: {
        right:7px;
        top:5px;
        bottom:5px;
        left:5px;
    } 

    .tag-item{
        display: flex;
        flex-direction: row;
        padding-bottom:15px;
        .tag-item-title{
            @include font_tag_title;
            font-weight: bold;
            width: 60px;
        }
        .tag-item-select{
            @include font_tag_choice;
            line-height: 2;
            width: 130px;
        }
        .tag-item-select input{
            display: inline-block;
        }
    }
}

